<div class="container d-flex flex-column h-100 justify-content-center">
  <form [formGroup]="forma" (ngSubmit)="setPwd()">
    <h3>Introduce la contraseña de la sala</h3>
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa fa-lock" aria-hidden="true"></i></span>
      </div>
      <input formControlName="pwd" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="contraseña de sala" autofocus>
    </div>
    <span *ngIf="!this.getKey('pwd').valid && submited" class="text-danger d-block"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Contraseña requerida</span>
    <div class="text-right pt-2">
      <button type="submit" class="btn btn-outline-light" [disabled]="submiting && forma.valid">
        <span *ngIf="submiting && forma.valid" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        {{ (submiting && forma.valid) ? 'Estableciendo' : 'Establecer' }}
      </button>
    </div>
  </form>
</div>
