<div class="row text-center p-0 m-0 border-top border-dark pt-2">
  <div class="col-12 col-md-6 center">

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <strong class="d-block pb-1">Click para donar por Paypal</strong>
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="ZTK7JPD5FPDUU" />
      <input type="image" class="imgPayPal" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal: ¡la forma más segura y fácil de pagar en línea!" alt="Donar con el botón PayPal" />
      <img alt="" border="0" src="https://www.paypal.com/es_MX/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div>
  <div class="col-12 col-md-6 pt-2">
    <!-- <div class="pl-2 pr-4" style="display: inline-block;">ó</div> -->
    <strong>ó Datos para Transferencia Bancaria</strong>
    <small class="text-left">
      <strong>
        <span class="d-block">BANCO AZTECA</span>
        <span class="d-block">Alejandra Patricia de la Vega Torres</span>
        <span class="d-block">Tarjeta: 4198 2101 5055 0936</span>
      </strong>
    </small>
  </div>
</div>
