<div class="container d-flex flex-column h-100 justify-content-center text-center">
  <h1 class="title1 animate__animated animate__fadeIn">Acondicionamiento Físico</h1>
  <div (click)='enterRoom($event)' class="linkRoom row animate__animated animate__pulse animate__infinite justify-content-center align-items-centerd text-warning pt-2 pointer">
    <h1 class="col-auto"><i class="fa fa-chevron-left fa-2x fa-fw" aria-hidden="true"></i></h1>
    <div class="col-auto">
      <h5>click aquí para</h5>
      <h2>Ingresar a la clase</h2>
    </div>
    <h1 class="col-auto"><i class="fa fa-chevron-right fa-2x fa-fw" aria-hidden="true"></i></h1>
  </div>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <span class="pwdLabel animate__animated animate__flash animate__infinite animate__slower pr-2">contraseña:</span>
    <strong class="h3 pwd m-0 animate__animated animate__shakeY font-weight-bold text-success">{{pwd}}</strong>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <h5>Clases</h5>
    </div>
    <div class="col-12">
      <strong class="text-info">MARTES <span class="text-light">|</span> JUEVES</strong>&nbsp;&nbsp;<strong>[ 19:00 HRS. ]</strong>
    </div>
  </div>
</div>
