.pwd{
  text-transform: none!important;
}

.title1{
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .linkRoom h1{
    font-size: 2rem!important;
  }
  .linkRoom h2{
    font-size: 1.5rem!important;
  }
  .linkRoom h5{
    font-size: 1rem!important;
  }
}

@media (max-width: 525px) {
  .linkRoom h1{
    font-size: 1.5rem!important;
  }
  .linkRoom h2{
    font-size: 1rem!important;
  }
  .linkRoom h5{
    font-size: .6rem!important;
  }
  .title1{
    font-size: 1.5rem;
  }
}

@media (max-width: 390px) {
  .linkRoom .col-auto{
    padding: 0;
  }

  .linkRoom h1{
    font-size: 1rem!important;
  }
  .linkRoom h2{
    font-size: 1rem!important;
  }
  .linkRoom h5{
    font-size: .6rem!important;
  }
  .title1{
    font-size: 1.5rem;
  }

  .pwd{
    font-size: 1rem;
  }

}

@media (max-height:480px){

  .title1{
    padding: 0!important;
  }
}
