
body {
  font-family: "Work Sans", Arial, sans-serif;
  background: #000;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: white;
  background-size: 100vh;
  margin: 0;
  text-transform: uppercase;

}

body.bg{
  background-position: right top;
  background-repeat: no-repeat;
}

.pointer{
  cursor: pointer;
}
